---
import AboutPage  from '../content/about.md';
import Layout from '../layouts/Layout.astro';

---

<Layout>
    <h1 class="text-3xl font-bold" style="color: var(--title-color);">关于</h1>
    <div class="article-content">
        <AboutPage />
    </div>
</Layout>
