---
import {siteConfig} from '../config.ts';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import PostList from '../components/Postlist.astro';
import { ReadingTime } from '../utils/Readtime-Wordcount';

import './styles/golbal.css';
import './styles/markdown.css'; 
import 'animate.css';


// 读取文章数据
const posts = await getCollection('posts');

// 计算每篇文章的字数
const processedPosts = await Promise.all(
  posts.map(async (post) => {
    const readingTimeResults = await ReadingTime(post.body);
    return {
      ...post,
      data: {
        ...post.data,
        wordCount: readingTimeResults.words, // 添加 wordCount 字段
      },
    };
  })
);
// 按发布时间排序
processedPosts.sort((a, b) => new Date(b.data.published).getTime() - new Date(a.data.published).getTime());
---
<Layout>
    <div class="article-container">
      <PostList posts={processedPosts} />
    </div>
</Layout>