---
import { Icon } from "astro-icon/components";
import { ThemeScript } from "astro-theme-toggle/components";
import { Toggle } from "astro-theme-toggle/components";
---

<div class="header-container">
    <header class="header">
        <a href="/" class="logo"><h1>MangoCat</h1></a>
        <!-- <nav>
            <ul class="nav-links">
                <li><a href="#">友链</a></li>
                <li><a href="#">关于</a></li>
                <li><a href="#">归档</a></li>
            </ul>
        </nav> -->
        <ThemeScript />
        <Toggle class="theme-toggle" style={{ width: "18px", height: "18px" }} />
    </header>
</div>
