
<div class="header-container">
    <header class="header">
        <a href="/" class="logo"><h1>MangoCat</h1></a>
        <nav>
            <ul class="nav-links">
                <li><a href="#">友链</a></li>
                <li><a href="#">关于</a></li>
                <li><a href="#">归档</a></li>
            </ul>
        </nav>
        <button class="theme-toggle">
            Dark/Light
        </button>
    </header>
</div>